body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding-bottom: 10%;
    background-color: #f0f0f0; /* Light gray background */
}

header {
    background-color: #00338d; /* Buffalo Bills blue */
    color: white;
    padding: 15px;
    text-align: center;
}

nav {
    background-color: #005eb8; /* Darker blue for the navigation bar */
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Smooth hover transition */
}

nav a:hover {
    background-color: #00338d; /* Darker blue on hover */
}

section {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto; /* Center section content */
}

footer {
    background-color: #00338d;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 80%;
}

th, td {
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 20px;
  }
